/* General tag Styles... */
body {
	color: lightslategrey;
}

header {
	background-color: orange;
}

h1 {
	font-size: 90px;
}

h2 {
	font-size: 53px;
}

h3 {
	font-size: 20px;
	color: #48525c;
}


/* About Section */
#about {
	border: 
}

/* Tips Section */

/* Main Footer Section */
#main-footer {
	padding: 60px 0;
	border-bottom: 10px solid orange;
}