/* General tag Styles... */
body {
	color: lightslategrey;
	font-size: 16px;
}

h1 {
	font-size: 5.625em; /* 90px/16px = 5.625em */
	color: white;
}

h2 {
	font-size: 3.312em; /* 53px/16px = 3.312em */
}

h3 {
	font-size: 1.25em; /* 20px/16px = 1.25em */
	color: #48525c;
}

.t-border {
	border-top: 2px solid lightgrey;
}

a:link { color: orange; }

a:visited { color: lightblue; }

/* Main Header */
.main-header {
	background-color: orange;
}

.title {
	color: white;
	font-size: 1.625em; /* 26px/16px = 1.625em */
}

/* About Section */
.about {
	text-align: center;
}

/* Tips Section */
.tips {
	
}

.about,
.tips {
	width: 60%;
	margin: 0 auto;
}

/* Main Footer Section */
#main-footer {
	padding: 60px 0;
	border-bottom: 10px solid orange;
}