/* General tag Styles... */
body {
	color: lightslategrey;
}

h1 {
	font-size: 90px;
	color: white;
}

h2 {
	font-size: 53px;
}

h3 {
	font-size: 20px;
	color: #48525c;
}

.t-border {
	border-top: 2px solid lightgrey;
}

/* Main Header */
.main-header {
	background-color: orange;
}

.title {
	color: white;
	font-size: 26px;
}

/* About Section */
.about {
	text-align: center;
}

/* Tips Section */
.tips {
	
}

/* Main Footer Section */
#main-footer {
	padding: 60px 0;
	border-bottom: 10px solid orange;
}